<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="BridgeServerMySQL.Properties.Settings.ProMOS_BridgeConnectionString"
      connectionString="Data Source=G8NXCV08Y427334\\SQLEXPRESS;Initial Catalog=ProMOS_Bridge_V2;Persist Security Info=True;User ID=sa;Password=promos"
      providerName="System.Data.SqlClient" />
    <add name="BridgeServerMySQL.Properties.Settings.ProMOS_Bridge_V2ConnectionString"
      connectionString="Data Source=G8NXCV08Y427334\SQLEXPRESS;Initial Catalog=ProMOS_Bridge_V2;User ID=sa;Password=promos"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFiles/"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="BurnTestRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="BurnTestLogFiles/"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>

    <logger name="BurnTestLog">
      <level value="ALL" />
      <appender-ref ref="BurnTestRollingFileAppender" />
    </logger>
    
  </log4net>

  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
</configuration>